modules = ["nodejs-20", "postgresql-16"]

[[ports]]
localPort = 3000
externalPort = 3000

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 38161
externalPort = 3002

[[ports]]
localPort = 44539
externalPort = 3001

[nix]
channel = "stable-25_05"

[workflows]

[[workflows.workflow]]
name = "Start Applicatioan"
mode = "parallel"
author = 42699436

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "./start-dev.sh"
