modules = ["nodejs-20", "postgresql-16"]

[[ports]]
localPort = 3000
externalPort = 3000

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 5001
externalPort = 4200

[[ports]]
localPort = 38161
externalPort = 3002

[[ports]]
localPort = 43187
externalPort = 3003

[[ports]]
localPort = 44539
externalPort = 3001

[nix]
channel = "stable-25_05"
